<template lang="pug">
div.grid-gallery()
  div.grid-carousel-label
    a label
  div.grid-carousel-focus
    img#carousel-focus(:src="slides[0]")
  div.grid-carousel-choices
    img#carousel-choices(:src="slides[0]")  
    img#carousel-choices(:src="slides[1]")
    img#carousel-choices(:src="slides[2]")
    img#carousel-choices(:src="slides[3]")
    img#carousel-choices(:src="slides[4]")
    img#carousel-choices(:src="slides[5]")
    img#carousel-choices(:src="slides[6]")
    img#carousel-choices(:src="slides[7]")
    img#carousel-choices(:src="slides[8]")
    img#carousel-choices(:src="slides[9]")
    img#carousel-choices(:src="slides[10]")
    img#carousel-choices(:src="slides[11]")
    img#carousel-choices(:src="slides[12]")                               
</template>

<script>
export default {
  name: 'Gallery',
  components: {
  },
  methods: {},
  data: function () {
    return {
      slides: [
        require('./assets/gallery/2.jpg'),
        require('./assets/gallery/0.jpg'),
        require('./assets/gallery/1.jpg'),
        require('./assets/gallery/3.jpg'),
        require('./assets/gallery/4.jpg'),
        require('./assets/gallery/5.jpg'),
        require('./assets/gallery/6.jpg'),
        require('./assets/gallery/7.jpg'),
        require('./assets/gallery/8.jpg'),
        require('./assets/gallery/9.jpg'),
        require('./assets/gallery/10.jpg'),
        require('./assets/gallery/11.jpg'),
        require('./assets/gallery/12.jpg'),
      ]
    }
  },
}
</script>

<style scoped lang="stylus">

@media (min-width: 2560px) and (max-width: 4000px)
  .grid-gallery
    grid-column 3 / span 6
    grid-row 4 / span 36
    display grid
    grid-template-columns repeat(1, 100%)
    grid-template-rows repeat(36,2.77%)

    .grid-carousel-label
      grid-column 1
      grid-row 1 / span 2
      display flex
      align-items center
      justify-content center
      font-size 250%

    .grid-carousel-focus
      grid-column 1
      grid-row 3 / span 28
      display grid
      grid-template-columns repeat(1, 100%)
      grid-template-rows repeat(1,100%)    

    .grid-carousel-choices      
      grid-column 1
      grid-row 33 / span 2
      display grid
      grid-template-columns repeat(13, 7.6923076923076925%)
      grid-template-rows repeat(1,100%)

  #carousel-focus
    width 100%
  #carousel-choices
    width 100%

@media (min-width: 1920px) and (max-width: 2560px)
  .grid-gallery
    grid-column 3 / span 6
    grid-row 4 / span 36
    display grid
    grid-template-columns repeat(1, 100%)
    grid-template-rows repeat(36,2.77%)

    .grid-carousel-label
      grid-column 1
      grid-row 1 / span 2
      display flex
      align-items center
      justify-content center
      font-size 250%

    .grid-carousel-focus
      grid-column 1
      grid-row 3 / span 28
      display grid
      grid-template-columns repeat(1, 100%)
      grid-template-rows repeat(1,100%)    

    .grid-carousel-choices      
      grid-column 1
      grid-row 31 / span 5
      display grid
      grid-template-columns repeat(13, 7.6923076923076925%)
      grid-template-rows repeat(1,100%)

  #carousel-focus
    width 100%
  #carousel-choices
    width 100%

@media (min-width: 1280px) and (max-width: 1920px)
  .grid-gallery
    grid-column 3 / span 6
    grid-row 4 / span 36
    display grid
    grid-template-columns repeat(1, 100%)
    grid-template-rows repeat(36,2.77%)

    .grid-carousel-label
      grid-column 1
      grid-row 1 / span 2
      display flex
      align-items center
      justify-content center
      font-size 150%

    .grid-carousel-focus
      grid-column 1
      grid-row 3 / span 28
      display grid
      grid-template-columns repeat(1, 100%)
      grid-template-rows repeat(1,100%)    

    .grid-carousel-choices      
      grid-column 1
      grid-row 34 / span 1
      display grid
      grid-template-columns repeat(13, 7.6923076923076925%)
      grid-template-rows repeat(1,100%)

  #carousel-focus
    width 100%
  #carousel-choices
    width 100%

@media (min-width: 800px) and (max-width: 1280px)
  pass

@media (max-width: 800px)
  pass


</style>