<template lang="pug">
div.grids
  TopBar
  Gallery
</template>

<script>
import TopBar from './topbar.vue'
import Gallery from './gallery.vue'
export default {
  name: 'Grid',
  components: {
    TopBar,
    Gallery
  },
  methods: {},
}
</script>

<style scoped lang="stylus">
.grids
  display: grid
  grid-template-columns: repeat(10,10vw)
  grid-template-rows: repeat(40,2.5vh)
</style>