<template lang="pug">
div.pages
  a#questionmark ?
  autocomplete.input
  a#plus +
</template>
// <!-- topbar -->
// div.grid-page(:style="$store.getters.page_style")
  // elements

<script>
import autocomplete from './autocomplete.vue'
export default {
  name: 'Page',
  components: {autocomplete},
  methods: {},
}
</script>

<style scoped lang="stylus">
.pages {
  grid-column: 1 / span 6;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(10,10%)
  grid-template-rows: repeat(1,100%)
}
div.input {
  position: relative;
  grid-column: 2 / span 8;
  grid-row: 1;
}

a#questionmark {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1;
  font-size: 200%;
  color: #736463;
}

a#plus {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 10;
  font-size: 200%;
  color: #F20505;
}

</style>