<template lang="pug">
div.aendlyx-tech-productions
    div#overlay
      div#overlay2
        a#espace_cinko ESPACE CINKO
        br
        a#events_gallery Galerie
        br
        a#paris_2nd Paris 2
    transition(name="fade")
    router-view
    resize-observer(@notify="handleResize")
</template>

<script>

export default {
  name: "App",
  mounted() {
    document.title="Espace Cinko | Galery | Paris 2e"
    var overlay = document.getElementById('overlay')
    window.setTimeout(function() {
      overlay.classList.add('animate')
    }, 2000)
  },
  methods: {
    handleResize() {
      console.log(`
        forceUpdate()
        ${window.innerHeight}
        ${window.innerWidth}        
      `)
      this.$forceUpdate()
    }
  }
}

</script>

<style lang="stylus">

@import url('https://fonts.googleapis.com/css?family=Domine&display=swap')

*
  user-select none

html, body
  margin auto
  padding 0
  -webkit-font-smoothing: antialiased
  overflow-x hidden
  -webkit-tap-highlight-color: rgba(0,0,0,0.4);
  font-family: 'Domine', serif
  background-image radial-gradient(circle, #f6f6f6, #f2f2f2, #eeeeee, #ebebeb, #e7e7e7)

#overlay 
  display: block
  pointer-events: none
  position: absolute
  top: 0
  width: 100%
  height: 100%
  background-image: radial-gradient(circle, #000000, #1c181b, #2e2a31, #3d3e4a, #485563)
  z-index: 9999
  transition: all 1s ease
  color: white
  display: flex
  justify-content: center
  align-items: center
  text-align: center
  // background-image:url(pages/root/front.jpg)
  // background-repeat: no-repeat
  // background-attachment: fixed
  // background-position: center 

#overlay2
  #espace_cinko
    font-size: 300%
    letter-spacing: 10px
  #events_gallery
    font-size: 250%
    letter-spacing: 6px
  #paris_2nd
    font-size: 150%
    letter-spacing: 2px
  transition: all 0.5s ease

.animate
  opacity: 0
  span
    letter-spacing: 20px

.fade-enter-active, .fade-leave-active 
  transition: opacity 0.2s

</style>